body{
    background-color: #f7ecde;
    padding-top: 40px;
}
.page{
    min-height: 90vh;
}
h2{
    font-family: 'Pacifico', cursive;
    position: relative;
    color: #352e28;
}
h2::before{
    content: "";
    position: absolute;
    background-color: #fec260;
    width: 100%;
    height: 30%;
    left: 0;
    bottom: 2px;
    transition: height 350ms;
    z-index: -1;
}
h2:hover::before{
    height: 60%;
}
.borderstyle{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;}
    h3{
        font-family: "Righteous", cursive;
        font-size: 25px;
        background-image: linear-gradient(to right, #3ca55c, #b5ac49);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    }
    .form-control:focus {
        border-color: #dc8e35;
        box-shadow: 0 0 0 0.25rem rgba(220, 147, 45, 0.25);

    }

  .btn{
        color: #fff;
        background-color: #d1512d;
        border-color: #d1512d;
    }
    .btn:hover{
        color: #fff;

background-color: #bb4120;   
border-color: #a03315; }

.btndelete{
    color: #fff;
    background-color: #eb1d36;
    border-color: #eb1d36;
    
}
.btndelete:hover{
    color: #fff;
   background-color: #d30820;
  border-color: #ba081d;

}
.btnvisit{
    color: #fff;
    background-color: #9eb23b;
    border-color: #9eb23b;

}
.btnvisit:hover{
    color: #fff;
    background-color: #8a9e23;
    border-color: #6e8018;
}
.alertbookmark{
    display: none;
    height: 100%;
    background-color: #d7d5d35e;
}
.bg1{
    width: 10px;
    height: 10px;
    background-color: #f15f5d;}
    .bg2{
        width: 10px;
        height: 10px;
        background-color: #febe2e;}
        .bg3{
            width: 10px;
            height: 10px;
            background-color: #4db748;}
        
.spanname{
    top:50%;
    right: 5%;
}

@media only screen and (max-width: 600px) {
    h3,label,th{
       font-size:  16px;
    }
    body{
        padding-top: 15px;
    }
    
}

@media screen and (max-width: 480px) {
    h3,label,th{
        font-size:  12px;
    }
    body{
        padding-top: 15px;
    }
}